  <div class="container mt-5">
  <h1 class="text-center mb-4">Task List</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between">
        <input type="checkbox">
        <%= task.title %>
        <span>
          <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-info btn-sm me-2' %>
          <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </span>
      </li>
    <% end %>
  </ul>
   <div class="d-flex justify-content-center">
    <%= link_to "Create a task", new_task_path, class: "btn btn-outline-dark align-items-center mt-5" %>
  </div>
</div>
